.title{
  text-align: center;
  margin: 32px;
}
pre {
  margin: 0;
}
.itag{
  display: inline-block;
  padding: 4px 5px;
  background: #272822;
  color: #e6db74;
  border-radius: 4px; 
  font-size: 12px;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}